# dependencies
**/node_modules

_roadhog-api-doc

# production
**/dist

# misc
.DS_Store
npm-debug.log*
yarn-error.log

**/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
**/.umi
**/.umi-production

# screenshot
screenshot
.firebase
.eslintcache

build

# Eggjs
logs/
coverage/
.idea/
run/
*.sw*
*.un~
typings/
.nyc_output/
**/config/config.settings.js
